@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Pacifico');

*, *:before, *:after {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #FFF;
}

.clearfix:after {
    content: ".";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0px;
}

svg {
    overflow: visible;
}

html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: #80E1F9;
    overflow: hidden;
}

.main {
    width: 100%;
    height: 100%;
    overflow: visible;
}

.game {
    position: absolute;
    width: 76%;
    height: 100%;
    left: 12%;
    right: 12%;
    overflow: visible;
    padding: 100px 0;
}

.gameInner {
    width: 100%;
    height: 100%;
    max-width: 1500px;
    margin: auto;
}

.middle {
    float: left;
    width: calc(100% - 400px);
    height: 100%;
    overflow: visible;
}

.side {
    float: right;
    width: 350px;
    height: 100%;
    padding-left: 50px;
}

.sideInner {
    margin-top: calc((100vh - 100px * 2 - 700px) / 2);
}

.blur {
    -webkit-filter: blur(6px);
    -moz-filter: blur(6px);
    -o-filter: blur(6px);
    -ms-filter: blur(6px);
    filter: blur(6px);
}

.mainMenuOverlay {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    overflow: hidden;
    background: #80E1F9;
}

.mainMenu {
    margin-top: calc((100vh - 767px) / 2);
}

.title {
    background-image: url("hexxagon-logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}

.mainMenu .title {
    height: 200px;
    margin: 25px 0 50px 0;

    animation-name: title;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(0.75, 0, 0.5, 1)
}

@keyframes title {
    0% {
        transform: scale(1.5) translate(0, 175px);
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    100% {
        transform: none;
    }
}

@keyframes show {
    0% {
        opacity: 0;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.playerSelection {
    width: 100%;
    max-width: 1500px;
    margin: auto;
    height: 350px;

    animation-name: show;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

.playerSelectionContainer {
    width: 100%;
    height: 100%;
}

.player {
    float: left;
    width: 250px;
    height: 100%;
}

.playerOne {
    margin-left: calc((50% - 250px) * 0.60);
    margin-right: calc((50% - 250px) * 0.40);
}

.playerTwo {
    margin-left: calc((50% - 250px) * 0.40);
    margin-right: calc((50% - 250px) * 0.60);
}

.playerContainer {
    width: 100%;
    height: 100%;
}

.arrow {
    width: 0px;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    margin: auto;
    transition: opacity 0.1s linear;
    cursor: pointer;
    opacity: 0.8;
}

.arrow:hover {
    opacity: 1;
}

.arrowUp {
    border-bottom: 30px solid #FF9C00;
}

.arrowDown {
    border-top: 30px solid #FF9C00;
}

.playerInner {
    height: calc(100% - 2 * 25px);
    padding: calc(25% - 25px) 0;
    width: 100%;
}

.playerImage {
    height: 60%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: background 0.3s linear;
}

.playerText {
    height: 40%;
    padding-top: 7.5%;
    width: 100%;
    text-align: center;
    font-size: 28px;
    font-weight: 600;
}

.playerBetween {
    width: 100%;
    margin: 0 -50%;
    float: left;
    font-family: 'Pacifico', cursive;
    font-size: 150px;
    padding-top: 50px;
    text-align: center;
    pointer-events: none;
}

.button {
    margin: auto;
    text-align: center;
    background: #00c2f2;
    cursor: pointer;
    transition: 0.1s background linear;
    font-weight: 600;
}

.button:hover {
    background: #ff9c00;
}

.start {
    width: 200px;
    border-radius: 10px;
    font-size: 38px;
    padding: 5px 10px 10px 10px;
    margin-top: 100px;

    animation-name: show;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

.tileGridContainer {
    height: 100%;
    overflow: visible;
}

.side .title {
    height: 100px;
    margin: 10px 0 25px 0;
}

.abort {
    width: 250px;
    border-radius: 5px;
    font-size: 26px;
    padding: 5px 10px 10px 10px;
    margin-top: 25px;
}

.playerStats {
    border-radius: 5px;
    margin-bottom: 25px;
    padding-bottom: 15px;
    background: rgba(255, 255, 255, 0.25);
}

.playerStats.PLAYER_ONE.hisTurn, .playerStats.PLAYER_ONE.won {
    background: #00C2F2;
}

.playerStats.PLAYER_TWO.hisTurn, .playerStats.PLAYER_TWO.won {
    background: #FF9C00;
}

.playerStatsName {
    font-weight: 600;
    font-size: 28px;
    text-align: center;
    padding: 5px;
    border-bottom: 2px solid;
    border-color: rgba(255, 255, 255, 0.5);
}

.playerStats.hisTurn {
    animation-name: hisTurn;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes hisTurn {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
}

.playerStats.won {
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.playerStats.PLAYER_ONE.won {
    animation-name: wonPLAYER_ONE;
}

.playerStats.PLAYER_TWO.won {
    animation-name: wonPLAYER_TWO;
}

@keyframes wonPLAYER_ONE {
    0% {
        background: #00C2F2;
    }
    25% {
        background: #ffde56;
    }
    50% {
        background: #00C2F2;
    }
}

@keyframes wonPLAYER_TWO {
    0% {
        background: #FF9C00;
    }
    25% {
        background: #ffde56;
    }
    50% {
        background: #FF9C00;
    }
}

.playerStatsEntry {
    width: 100%;
    padding: 10px 15px 0 15px;
}

.playerStatsEntryName {
    float: left;
    width: 90%;
    font-weight: 600;
    font-size: 22px;
}

.playerStatsEntryValue {
    font-weight: 600;
    font-size: 22px;
    float: left;
    width: 10%;
}

.tileGrid {
    padding-top: 54px;
    padding-bottom: 3px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: visible;
    margin: auto;
}

.tileRow {
    clear: left;
}

.hexagon {
    float: left;
    pointer-events: none;
}

.hexagon.dragging {
    transition: none;
}

.hexagon svg {
    transition: transform 0.2s cubic-bezier(0.75, -1.35, 0.61, 1);
}

.hexagonInner {
    transition: fill 0.2s linear, stroke-width 0.2s linear;
    transform-origin: 50% 50%;
    fill: #FFF;
    opacity: 1;
    transform: rotate(0deg);
    stroke: #80E1F9;
    stroke-width: 0;
    pointer-events: all;
}

.hexagon.PLAYER_ONE .hexagonInner, .hexagon.playAbleNow.playAbleNowPLAYER_ONE.mouseIsOver .hexagonInner {
    fill: #00C2F2;
}

.hexagon.PLAYER_TWO .hexagonInner, .hexagon.playAbleNow.playAbleNowPLAYER_TWO.mouseIsOver .hexagonInner {
    fill: #FF9C00;
}

.hexagon.playAble .hexagonInner {
    cursor: pointer;
    animation-name: playAble;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.hexagon.dragging .hexagonInner {
    pointer-events: none;
}

@keyframes playAble {
    0% {
        opacity: 1;
    }
    5% {
        opacity: 0.5;
    }
    10% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

.hexagon.playAble.posy_0 .hexagonInner {
    animation-delay: 0s;
}

.hexagon.playAble.posy_1 .hexagonInner {
    animation-delay: 0.15s;
}

.hexagon.playAble.posy_2 .hexagonInner {
    animation-delay: 0.3s;
}

.hexagon.playAble.posy_3 .hexagonInner {
    animation-delay: 0.45s;
}

.hexagon.playAble.posy_4 .hexagonInner {
    animation-delay: 0.60s;
}

.hexagon.playAble.posy_5 .hexagonInner {
    animation-delay: 0.75s;
}

.hexagon.playAble.posy_6 .hexagonInner {
    animation-delay: 0.90s;
}

.hexagon.playAble.posy_7 .hexagonInner {
    animation-delay: 1.05s;
}

.hexagon.playAble.posy_8 .hexagonInner {
    animation-delay: 1.20s;
}

.hexagon.playAble.posy_9 .hexagonInner {
    animation-delay: 1.35s;
}

.hexagon.FORBIDDEN .hexagonInner {
    fill: transparent;
}

.hexagon.playAbleNow .hexagonInner {
    cursor: pointer;
    transition: fill 0.1s linear, stroke-width 0.1s linear;
}

.hexagon.playAbleNow.copy .hexagonInner {
    fill: #40BE40;
}

.hexagon.playAbleNow.jump .hexagonInner {
    fill: #94FA9F;
    transition-delay: 0.075s;
}

.hexagon.playAbleNow {
    animation-name: playAbleNow;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(0.56, 0.16, 0.37, 0.7);
}

.hexagon.playAbleNow.jump {
    animation-delay: 0.075s;
}

@keyframes playAbleNow {
    0% {
        transform: none;
    }
    50% {
        transform: scale(0.9);
    }
    100% {
        transform: none;
    }
}

.hexagon.playAbleNow.mouseIsOver .hexagonInner {
    stroke-width: 75px;
}

.hexagon.selected .hexagonInner {
    stroke-width: 37px;
    animation-name: selected;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.56, 0.16, 0.37, 0.7);
    animation-delay: 0s !important;
}

.hexagon.dragging .hexagonInner {
    animation: none;
}

@keyframes selected {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-15deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(15deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.hexagon.selected svg {
    transform: scale(1.25);
}

.hexagon.dragging svg {
    transform: scale(0.85);
}

.hexagonInnerText {
    margin-top: -104px;
    width: 120px;
    height: 103px;
    text-align: center;
    font-weight: 800;
    display: none;
    color: #80E1F9;
}

.hexagon.PLAYER_ONE .hexagonInnerText, .hexagon.PLAYER_TWO .hexagonInnerText {
    color: #FFF;
}

.hexagon.lastMoveSource .hexagonInnerText {
    display: block;
}

.hexagon.lastMoveTarget .hexagonInnerText {
    display: block;
}

.hexagon.playAbleNow .hexagonInnerText {
    display: none;
}

.hexagonInnerText.positions {
    display: none !important;
}

.hide {
    opacity: 0;
    pointer-events: none;
    animation-name: hide;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: linear
}

@keyframes hide {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.unhide {
    opacity: 1;
    pointer-events: all;
    animation-name: unhide;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: linear
}

@keyframes unhide {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}