@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Pacifico');

*, *:before, *:after {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #FFF;
}

.clearfix:after {
    content: ".";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0px;
}

svg {
    overflow: visible;
}

html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: #80E1F9;
    overflow: hidden;
}

.main {
    width: 100%;
    height: 100%;
    overflow: visible;
}

.game {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.gameInner {
    width: 100%;
    height: 100%;
    margin: auto;
}

.middle {
    width: 100%;
    height: 85vh;
    padding: 2vh 0;
    overflow: visible;
}

.side {
    width: 100%;
    height: 15vh;
}

.sideInner {
    width: 100%;
    height: 100%;
}

.blur {
    -webkit-filter: blur(6px);
    -moz-filter: blur(6px);
    -o-filter: blur(6px);
    -ms-filter: blur(6px);
    filter: blur(6px);
}

.mainMenuOverlay {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    overflow: hidden;
    background: #80E1F9;
}

.mainMenu {

}

.title {
    background-image: url("hexxagon-logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}

.mainMenu .title {
    height: 14vh;
    margin: 3vh 0 3vh 0;

    animation-name: title;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(0.75, 0, 0.5, 1)
}

@keyframes title {
    0% {
        transform: scale(1.5) translate(0, 175px);
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    100% {
        transform: none;
    }
}

@keyframes show {
    0% {
        opacity: 0;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.playerSelection {
    width: 100%;
    height: 60vh;
    background: -webkit-linear-gradient(-10deg, #01C2F2 50%, #FF9C00 50%);

    animation-name: show;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

.playerSelectionContainer {
    width: 100%;
    margin: auto;
    height: 100%;
}

.player {
    float: left;
    width: 50%;
    height: 100%;
    transform: rotate(0deg);
}

.playerContainer {
    width: 40vw;
    height: 60vh;
    margin: auto;
    padding: 5vh 0;
}

.arrow {
    width: 0px;
    border-left: 5vh solid transparent;
    border-right: 5vh solid transparent;
    margin: auto;
    cursor: pointer;
    opacity: 0.8;

    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.arrow:hover {
    opacity: 1;
}

.arrowUp {
    border-bottom: 4vh solid #FFF;
    animation-name: arrowUp;
}

.arrowDown {
    border-top: 4vh solid #FFF;
    animation-name: arrowDown;
}

@keyframes arrowUp {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-0.5vh) scale(1.2);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes arrowDown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(+0.5vh) scale(1.2);
    }
    100% {
        transform: translateY(0);
    }
}

.arrowUp:hover {
    transform: translateY(-0.5vh) scale(1.2) !important;
    animation: none;
}

.arrowDown:hover {
    transform: translateY(+0.5vh) scale(1.2) !important;
    animation: none;
}

.playerInner {
    height: 42vh;
    padding: 8vh 0;
    width: 100%;
}

.playerImage {
    height: 60%;
    width: 70%;
    margin: 0 15%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: background 0.3s linear;
}

.playerText {
    height: 40%;
    padding-top: 7.5%;
    width: 100%;
    text-align: center;
    font-size: 3vh;
    font-weight: 600;
}

.playerBetween {
    width: 100%;
    margin: 0 -50%;
    float: left;
    font-size: 20vh;
    padding-top: 15vh;
    text-align: center;
    pointer-events: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.33);
}

.button {
    text-align: center;
    background: -webkit-linear-gradient(-20deg, #01C2F2 50%, #FF9C00 50%);
    background-size: 300% auto;
    background-position: 0 0;
    cursor: pointer;
    transition: 0.25s background ease-out;
    font-weight: 600;
    border-radius: 0.5vh;
}

.button:hover {
    background-position: 100% 0;
}

.help {
    width: 7vh;
    font-size: 4vh;
    padding: 0.5vh 1vh 1vh 1vh;
    margin: 2vh 0 -9vh 2vh;
    transform: rotate(0deg);
    text-decoration: none;
    display: block;

    animation-name: show;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

.start {
    width: 17vh;
    font-size: 4vh;
    padding: 0.5vh 1vh 1vh 1vh;
    margin: auto;
    margin-top: 6.5vh;

    animation-name: show;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

.abort {
    width: 8vh;
    height: 8vh;
    margin: 3vh auto -11vh 3vh;
    padding: 1.25vh;
    transform: rotate(0deg);
}

.abortInner {
    height: 100%;
    width: 100%;
    background-image: url("home.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.tileGridContainer {
    height: 100%;
    overflow: visible;
}

.side .title {
    height: 100px;
    margin: 10px 0 25px 0;
}

.topInfoOverview {
    width: 100%;
    height: 100%;
}

.topInfoPart {
    float: left;
    height: 100%;
    padding: 3.5vh 2.5vh 4vh 2.5vh;
}

.topInfoPart:nth-child(1) {
    background-color: #01C2F2;
}

.topInfoPart:nth-child(3) {
    background-color: #FF9C00;
}

.topInfoPart {
    width: calc(50% - 15vh / 2);
}

.topInfoOverview.gameIsOver .topInfoPart {
    width: calc(50% - 25vh / 2);
}

.topInfoPartScore  {
    float: left;
    width: 8vh;
    height: 100%;
    font-size: 7vh;
    font-weight: 600;
    margin-top: -1vh;
    background-size: contain;
    background-repeat: no-repeat;
}

.topInfoPartImage  {
    float: left;
    width: calc(100% - 8vh);
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}

.topInfoPart:nth-child(1) .topInfoPartScore, .topInfoPart:nth-child(1) .topInfoPartImage {
    background-position: center right;
    text-align: left;
}

.topInfoPart:nth-child(3) .topInfoPartScore, .topInfoPart:nth-child(3) .topInfoPartImage {
    background-position: center left;
    text-align: right;
}

.topInfoBetween {
    width: 15vh;
    float: left;
    text-align: center;
    height: 100%;
    padding: 3.5vh 0 4vh 0;
    background: -webkit-linear-gradient(-20deg, #01C2F2 50%, #FF9C00 50%);
}

.topInfoOverview.gameIsOver .topInfoBetween {
    width: 25vh;
}

.topInfoBetweenInner {
    font-size: 10vh;
    font-weight: 600;
    margin-top: -3.5vh;
    color: #FFF;
}

.turn.PLAYER_ONE .topInfoPart:nth-child(1) div, .turn.PLAYER_TWO .topInfoPart:nth-child(3) div  {
    animation-name: turn;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes turn {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0.35;
    }
    50% {
        opacity: 1;
    }
}

.topInfoOverview.gameIsOver .topInfoBetween, .topInfoOverview.gameIsOver .topInfoPart {
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.topInfoOverview.gameIsOver.PLAYER_ONE .topInfoBetween, .topInfoOverview.gameIsOver.PLAYER_ONE .topInfoPart:nth-child(1) {
    background: #00C2F2;
    animation-name: wonPLAYER_ONE;
}

.topInfoOverview.gameIsOver.PLAYER_TWO .topInfoBetween, .topInfoOverview.gameIsOver.PLAYER_TWO .topInfoPart:nth-child(3) {
    background: #FF9C00;
    animation-name: wonPLAYER_TWO;
}

@keyframes wonPLAYER_ONE {
    0% {
        background: #00C2F2;
    }
    25% {
        background: #ffde56;
    }
    50% {
        background: #00C2F2;
    }
}

@keyframes wonPLAYER_TWO {
    0% {
        background: #FF9C00;
    }
    25% {
        background: #ffde56;
    }
    50% {
        background: #FF9C00;
    }
}

.topInfoOverview.gameIsOver .topInfoBetweenInner {
    font-size: 5vh;
    margin-top: -3vh;
}

.tileGrid {
    overflow: visible;
    margin: auto;
}

.tileRow {
    clear: left;
}

.hexagon {
    float: left;
    pointer-events: none;
}

.hexagon.dragging {
    transition: none;
}

.hexagon svg {
    transition: transform 0.2s cubic-bezier(0.75, -1.35, 0.61, 1);
}

.hexagonInner {
    transition: fill 0.2s linear, stroke-width 0.2s linear;
    transform-origin: 50% 50%;
    fill: #FFF;
    opacity: 1;
    transform: rotate(0deg);
    stroke: #80E1F9;
    stroke-width: 0;
    pointer-events: all;
}

.hexagon.PLAYER_ONE .hexagonInner, .hexagon.playAbleNow.playAbleNowPLAYER_ONE.mouseIsOver .hexagonInner {
    fill: #00C2F2;
}

.hexagon.PLAYER_TWO .hexagonInner, .hexagon.playAbleNow.playAbleNowPLAYER_TWO.mouseIsOver .hexagonInner {
    fill: #FF9C00;
}

.hexagon.playAble .hexagonInner {
    cursor: pointer;
    animation-name: playAble;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.hexagon.dragging .hexagonInner {
    pointer-events: none;
}

@keyframes playAble {
    0% {
        opacity: 1;
    }
    5% {
        opacity: 0.5;
    }
    10% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

.hexagon.BLOCKED .hexagonInner {
    fill: #6CB5C7;
}

.hexagon.OUT_OF_FIELD .hexagonInner {
    fill: transparent;
}

.hexagon.playAbleNow .hexagonInner {
    cursor: pointer;
    transition: fill 0.1s linear, stroke-width 0.1s linear;
}

.hexagon.playAbleNow.copy .hexagonInner {
    fill: #40BE40;
}

.hexagon.playAbleNow.jump .hexagonInner {
    fill: #94FA9F;
    transition-delay: 0.075s;
}

.hexagon.playAbleNow {
    animation-name: playAbleNow;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(0.56, 0.16, 0.37, 0.7);
}

.hexagon.playAbleNow.jump {
    animation-delay: 0.075s;
}

@keyframes playAbleNow {
    0% {
        transform: none;
    }
    50% {
        transform: scale(0.9);
    }
    100% {
        transform: none;
    }
}

.hexagon.playAbleNow.mouseIsOver .hexagonInner {
    stroke-width: 75px;
}

.hexagon.selected .hexagonInner {
    stroke-width: 37px;
    animation-name: selected;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.56, 0.16, 0.37, 0.7);
    animation-delay: 0s !important;
}

.hexagon.dragging .hexagonInner {
    animation: none;
}

@keyframes selected {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-15deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(15deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.hexagon.selected svg {
    transform: scale(1.25);
}

.hexagon.dragging svg {
    transform: scale(0.85);
}

.hexagonInnerText {
    margin-top: -104px;
    width: 120px;
    height: 103px;
    text-align: center;
    font-weight: 800;
    display: none;
    color: #80E1F9;
}

.hexagon.PLAYER_ONE .hexagonInnerText, .hexagon.PLAYER_TWO .hexagonInnerText {
    color: #FFF;
}

.hexagon.labeled .hexagonInnerText {
    display: block;
}

.hexagon.playAbleNow .hexagonInnerText {
    display: none;
}

.hexagonInnerText.positions {
    display: block !important;
}

.hide {
    opacity: 0;
    pointer-events: none;
    animation-name: hide;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: linear
}

@keyframes hide {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.unhide {
    opacity: 1;
    pointer-events: all;
    animation-name: unhide;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: linear
}

@keyframes unhide {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}